/*------------------------------------------------*/
// NAVIGATION

.logo {
  &, a, img {
    display: inline-block;
  }
  a, img {
    width: auto;
  }
  img {
    max-height: rem-calc(70);
    display: inline-block;
  }
  @include breakpoint("large-up") {
    @include absolute-center-v();
    left: 0;
  }
  @include breakpoint("small-to-medium") {
    @include absolute-cancel();
    padding: $h6-font-size;
  }
}

.overheader {
  z-index: 6000;
  position: relative;
  background: $dark-color;
}

.main-header {
  background: $light-color;
  width: 100%;
  z-index: 5000;
  display: block;
  margin: 0 0 $h1-font-size 0;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
}

/*------------------------------------------------*/
// NAVIGATION ENDS
